@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
    @font-face {
        font-family: 'FilsonProMedium';
        src: url("../public/fonts/FilsonProMedium.otf") format("opentype");
    }
    @font-face {
        font-family: 'FilsonProLight';
        src: url("../public/fonts/FilsonProLight.otf") format("opentype");
    }
    @font-face {
        font-family: 'FilsonProBold';
        src: url("../public/fonts/FilsonProBold.otf") format("opentype");
    }
}

h2 {
    @apply w-full text-white md:text-4xl mt-12 text-2xl
}

h3 {
    @apply w-full text-white/70 text-sm mt-2 font-FilsonLight
}

.container-box {
    @apply 2xl:justify-between content-center items-center text-center mt-24
}

.btn-assine{
    @apply bg-blue text-white px-4 py-3 rounded-xl w-[90%] md:w-1/2 mt-5 transition ease-in-out delay-150 hover:-translate-y-1 hover:scale-110 hover:bg-purple duration-300
}

.content{
    @apply md:w-[70%] w-[70%]
}

.content span{
    @apply text-white text-base block cursor-pointer bg-[#ffffff2e] mt-7 rounded-2xl p-3
}

.content p {
    @apply text-white text-base font-FilsonLight hidden ml-3 mt-3
}

.content p.active{
    @apply block animate-fade
}

::-webkit-scrollbar {
    width: 12px;
}
 
::-webkit-scrollbar-track {
    background: #05153C;
}
 
::-webkit-scrollbar-thumb{
    background: #00C3FF;
    border-radius: 30px;
}

@keyframes anima {
    from{
        opacity: 0;
    }to{
        opacity: 1;
    }
}