---
import Layout from "../layouts/Layout.astro";
import Planos from "../components/Planos.astro";
import Header from "../components/header.astro";
import Banner from "../components/banner.astro";
import BoxCard from "../components/boxcard.astro";
import Area from "../components/CoverageArea.astro";
---

<Layout title="Welcome to Teste.">
	<main>
		<!-- BANNER PRINCIPAL -->
		<Banner logo="home.mp4" />
		<!-- BANNER PRINCIPAL -->
		<div class="container-box">
			<h2>INTERNET FIBRA ÓPTICA</h2>
			<h3>
				It is a long established fact that a reader will be distracted
				by the
			</h3>
		</div>
		<!-- CAIXINHA DE BENEFICIOS -->
		<div class="w-full px-24 flex flex-wrap justify-around mt-10">
			<BoxCard
				imagem="../public/icon1.svg"
				tittle="WI-FI Premium"
				subtittle="Internet de alta velocidade"
			/>
			<BoxCard
				imagem="../public/icon1.svg"
				tittle="WI-FI Premium"
				subtittle="Internet de alta velocidade"
			/>
			<BoxCard
				imagem="../public/icon1.svg"
				tittle="WI-FI Premium"
				subtittle="Internet de alta velocidade"
			/>
		</div>
		<!-- CAIXINHA DE BENEFICIOS -->
		<!-- ÁREA DE COBERTURA -->
		<div class="w-full md:px-36 mt-8 flex flex-wrap">
			<Area />
		</div>
		<!-- ÁREA DE COBERTURA -->
		<div class="container-box">
			<h2>INTERNET FIBRA ÓPTICA</h2>
			<h3>
				It is a long established fact that a reader will be distracted
				by the
			</h3>
		</div>
		<!-- ÁREA DE COBERTURA -->
		<!-- CAIXINHA DE PLANOS -->
		<div class="w-full px-24 flex flex-wrap justify-around mt-10">
			<Planos
				imagem="../public/icon1.svg"
				mega="100"
				description="Plano para toda a familia"
			/>
			<Planos
				imagem="../public/icon1.svg"
				mega="100"
				description="Plano para toda a familia"
			/>
			<Planos
				imagem="../public/icon1.svg"
				mega="100"
				description="Plano para toda a familia"
			/>
		</div>
		<!-- CAIXINHA DE PLANOS -->
		<Banner logo="planos.mp4" />
	</main>
</Layout>
