<footer>
    <div class="w-full md:flex md:wrap wrap bg-dark-blue md:h-80 h-screen mt-20 md:px-40 px-4 justify-around md:py-14 py-10">
        <div class="md:md:w-[25%] w-full justify-center items-center md:mb-0 mb-10 flex-col">
            <span class="text-white text-2xl items-center flex justify-center md:justify-start">Links Úteis</span>
            <p class="text-xl font-FilsonLight text-white/70 mt-3 items-center flex justify-center md:justify-start">teste</p>
            <p class="text-xl font-FilsonLight text-white/70 mt-3 items-center flex justify-center md:justify-start">teste</p>
        </div>
        <div class="md:w-[25%] w-full justify-center items-center md:mb-0 mb-10  flex">
            <img src="../../public/logo.svg" alt="">
        </div>
        <div class="md:w-[25%] w-full flex md:mb-0 mb-10 items-center flex justify-center  flex-col">
            <span class="text-white text-3xl items-start md:justify-start">Quem somos nós?</span>
            <p class="text-xl font-FilsonLight items-center flex justify-center text-white/70 mt-3 md:justify-start">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsam voluptas, eaque architecto natus provident dolore ipsa voluptatum numquam autem id aut dolor saepe tempora perferendis repudiandae quasi rerum ab doloribus.</p>
        </div>
    </div>
    <div class="w-full h-10 bg-purple items-center justify-center flex">
        <span class="items-center text-white text-lg font-FilsonLight">Desenvolvido por DELIPE.COM</span>
    </div>
</footer>